<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How r u?</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="content">
        <div class="header"></div>
        <div class="active-panel-container">
            <div class="active-panel" id="active-panel">
                <!-- <img class="sticker" id="sticker" src="./stickers/curious_fox.jpg"></img> -->
            </div>
        </div>

        <div class="push"><!-- just to keep down the footer --></div>
    </div>
    <footer class="sticky-footer" id="footer-reloader">
    </footer>
<script type="module" src="static/js/index.js"></script>
</body>
</html>
