<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How r u?</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="content">
        <div class="active-panel-container">
            <div class="active-panel" id="active-panel-flower">
                <div class="current-number-container">
                    <span id="current-number">
                        5
                    </span>
                </div>
                <div id="flower-container">
                    <!-- here will be loaded 6 images with a flower with [0..5] petals. Example: -->

                    <!-- <img src="static/flowers/Flower_0_Petal_0.png" alt="0 ):" class="flower-img" id="flower-0"> -->
                    <!-- <img src="static/flowers/Flower_0_Petal_1.png" alt="1 /:" class="flower-img" id="flower-1"> -->
                    <!-- <img src="static/flowers/Flower_0_Petal_2.png" alt="2 |:" class="flower-img" id="flower-2"> -->
                    <!-- <img src="static/flowers/Flower_0_Petal_3.png" alt="3 |:" class="flower-img" id="flower-3"> -->
                    <!-- <img src="static/flowers/Flower_0_Petal_4.png" alt="4 (:" class="flower-img" id="flower-4"> -->
                    <!-- <img src="static/flowers/Flower_0_Petal_5.png" alt="5 C:" class="flower-img" id="flower-5"> -->
                </div>
                <div class="buttons-container">
                    <img src="static/flowers/Minus.png" alt="-" class="input-button">
                    <img src="static/flowers/Plus.png" alt="+" class="input-button">
                </div>
        </div>

        <div class="push"><!-- just to keep down the footer --></div>
    </div>
    <footer class="sticky-footer" id="footer-reloader">
    </footer>
<script type="module" src="static/js/index_1.js"></script>
</body>
</html>
