html, body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content{
    padding: 1%;
    min-height: 100%;
}
.header{
    min-height: 10vh;
    background-color: rgb(144, 144, 144);
    text-align: center;
    padding: 2%;
}

.active-panel-container {
    width: 95vw;
    height: 10vh;
    background-color: unset;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-panel {
    width: 70%;
    height: 75%;
    background-color: rgb(144, 144, 144);
    display: flex;
    position: relative;
    border-radius: 30px;
    z-index: 5;
}

.circle, .sticker {
    background-color: unset;
    position: absolute;
    border-radius: 50%;
    height: 14%; /* This will be overridden by JS for better responsiveness */
}

.circle {
    z-index: 10;
}

#sticker {
    z-index: 20;
    max-width: 15%; /* Limit maximum width on larger screens */
    max-height: 15%; /* Limit maximum height on larger screens */
}

@media only screen and (max-width: 600px) {
    .sticker {
        max-width: 20%; /* Increase the maximum width on mobile */
        max-height: 20%; /* Increase the maximum height on mobile */
    }
}