html, body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content{
    padding: 1%;
    min-height: 100%;
}
.active-panel-container {
    width: 95vw;
    height: 90vh;
    background-color: unset;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-panel {
    width: 70%;
    height: 75%;
    background-color: rgb(144, 144, 144);
    display: flex;
    position: relative;
    border-radius: 30px;
    z-index: 5;
}

.circle, .sticker {
    background-color: unset;
    position: absolute;
    border-radius: 50%;
    height: 10%; /* This will be overridden by JS for better responsiveness */
}

.circle {
    z-index: 10;
}

#sticker {
    z-index: 20;
    max-width: 20%; /* Limit maximum width on larger screens */
    max-height: 20%; /* Limit maximum height on larger screens */
}


/* flower index */

#active-panel-flower{
    display: flex;
    flex-direction: column;
    background: rgb(24,153,145);
    background: linear-gradient(180deg, rgba(24,153,145,1) 0%, rgba(214,251,59,1) 100%);
    padding: 2%;
}

#flower-container{    
    display: flex;
    width: 100%;
    height: 50%;
    position: relative;
    align-items: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.flower-img{
    height: 100%;
    position: absolute;
    display: flex;
    align-self: center;
}
.buttons-container{
    align-self: center;
    display: flex;
    width: 20%;
    justify-content: space-between;
    height: 20%;
}
.input-button{
    height: 50%;
    display: flex;
    aspect-ratio: 1;
    background-color: aliceblue;
    border-radius: 25%;
    text-align: center;
    color: rgb(58, 58, 58);
}
.current-number-container{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#current-number{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    align-self: center;
    aspect-ratio: 1;
    background-color: aliceblue;
    border-radius: 50%;
    text-align: center;
    color: rgb(58, 58, 58);
}

@media screen and (max-width: 600px) {
    .buttons-container{
        justify-content: space-around;
        width: 100%;
    }
}
/* endof flower index */